.brand {
    background-image: -webkit-linear-gradient(#EB6864, #ffffff);
    font-size: 3rem;
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.50px;
}

.btn {
    background-color: #EB6864;
    margin-right: 1%;
    /* margin-left: 1%; */
    /* margin-top: 10%; */
    box-shadow: 3px 3px 6px black;
    transition: box-shadow 1s, transform 2s;
}

.btn:hover {
    transform: translate(3px,6px);
	transition: box-shadow 1s, transform 2s;
}

.links {
    color: white !important;
    cursor: pointer;
}

.login {
    border: solid whitesmoke 1px;
    /* margin-bottom: 10%; */
}

nav {
    background-color: grey;
    background-image: url("./images/books-library.jpg");
    background-size: 100% 120%;
    box-shadow: 0px 0px 20px 0 rgb(87, 87, 87);
    height: 10.75rem;
    margin-bottom: 4%;
}