.brand {
    background-image: -webkit-linear-gradient(#EB6864, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bolder;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.50px;
}

.btn {
    background-color: #EB6864;
}

.login {
    border: solid whitesmoke 1px;
    margin-bottom: 10%;
}

nav {
    background-color: grey;
    background-image: url("./images/books-library.jpg");
    background-size: 100% 120%;
    height: 10.75rem;
    box-shadow: 0px 0px 20px 0 rgb(87, 87, 87);
}