body {
    background-color: blanchedalmond;
}

.Footer {
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .book {
        margin-left: 12%;
    }

    .brand {
        font-size: 2rem;
        /* margin-top: -10%; */
        padding-bottom: 15%;

    }

    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
        /* margin-top: 10%; */
        /* margin-right: -1%; */
        /* margin-left: 2%;  */
    }

    .button-container {
        margin-left: 15%;
    }

    .card {
        margin-left: 20%;
    }
    
    .Footer {
        bottom: 0;
        font-size: .1em;
        position: fixed;
    }

    .footerTitle {
        font-size: 1rem;
    }

    .iconContainer {
        margin: 3% 0 10% 30%;
    }

    .heading {
        margin-left: 25%;
    }

    .navbar {
        height: 5.5rem;
    }
}

@media (min-width: 480px) and (max-width: 992px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
        margin-right: 3%;
    }
}