.browsebtn  {
    box-shadow: 5px 5px 7px grey;
    color: green;
    width: 180px;
    background-color: none;
    border-radius: 50%;
}

.browse-para{
    color:#317310;
    margin-top: 15%;
    text-align: center;
    margin-right: 14%;
}

.Bb{
    color:#317310;
    font-family:'Russo One', sans-serif;
    margin-left: 18%;
    margin-top: 25%;
}

.button-container{
    margin-top: 2%;
    width: auto;

}

.browse-btn {
    margin-left: 2%;
}



