.browsebtn {
  color: green;
  
}

.browsebtn {
  left: 10px;
  background: #E53935;
}

.browsebtn {
   border-radius: 50%;
    margin-right: 40rem; 
width:50%;

}
.Bb{
  font-family:'Russo One', sans-serif;
}

.browse-btn {
  margin-bottom:40px;
  margin-left:30%;
  background: none;
  border: none;
  width: 12em;
    position: absolute;
    top: 50%;
    
}



