.donate-btn {
  	width: 20px;
  	background-color: none;
  	border-radius: 50%;
  	text-align: center;
	margin-right:50%;

}
.Db{
	text-align: center;	
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
}

.donate{
	margin-top:13%;
	margin-left:50%;
	background: none;
	border: none;
 }



