.donate-btn {
	box-shadow: 5px 5px 7px grey;
  	background-color: none;
  	border-radius: 50%;
  	width: 150px; 
	margin-left: 10%;
	margin-top: 5%;
}
.div-class{
	width: auto;
	margin-top: 3%;
}
.donate-para{
	color: #EB6864;
	text-align: center;
}
.Db{
	color: #EB6864;
	margin-left: 18%;
	margin-top: 25%;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
}


 



