.browsebtn {
margin-top: 2px;
margin-left: 10px; 
}
/*.browbtn button{
margin-top: 10%;
margin-right: 10rem; 
}*/
.donate-btn{
margin-top:1px; 
margin-right: 180px; 
width: 120px;  
 }

img{

 width: 80px;
   

}
.heading{

font-family:'Russo One', sans-serif;

}

