.browsebtn{
margin-top: 5px;
margin-bottom: 1px;
margin-left: 10rem; 
width: 10em;

}

.donatebtn{
float-left: 20px;
margin-top: 10px;
width: 10em;
margin-left: 10rem; 
}


.home-page{

	margin-left:5px;
}

.page-footer{
	text-align: center;
	margin-top:7rem; 
}