#bookCard {
    margin-left: 30%;
    margin-right: 10%;
}

.style {
    margin-left: 20%;
    margin-right: 10%;
}

.textAreaStyle {
    border: #EB6864 3px;
    border-style: outset;
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;
    outline-color: white;
    width: 100%
}