.btn {
    color: black;
    opacity: 1 !important;
}

input[type="checkbox"] {
    background-color: #EB6864;
    border-style: outset;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    width: auto;
}
 
#formImg {
    box-shadow: 2px 2px 4px black;
    margin-left: 40%;
}

#formStyle {
    margin-left: 20%;
    margin-right: 10%;
}

.inputStyle {
    border: #EB6864 3px;
    border-style: outset;
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;
}

.iconContainer {
    margin-left: 80%;
    margin-top: -5%;
}

.pageTitle{
    color: #EB6864;
    text-shadow: 2px 1px black;
    font-size: 2.25rem;
    padding: 1% 5% 5% 8%;
    width: 9em;
}

.save:hover {
    background-color: rgb(244, 59, 59);
    border: rgb(244, 59, 59) 1px;
    border-style: outset;
    color: white;
}
