.surveyCard {
    margin: 5px;
    height: 200px;
    width: 305px;
    float: left;
    margin-bottom: 5px;
}

#modalSurveyResult{
    width: 70% !important;
    height: 100% !important; 
    transform: translateY(-15%) !important;
}

#modalSurveyShare{
    width: 70% !important;
    height: 100% !important; 
    transform: translateY(-15%) !important;
}

#barChart{
    margin: auto;
}

#divSurveyCardFooter{
    border-color: #333 !important;;
}