.book {
    box-shadow: 5px 5px 7px grey;
    display: inline-block;
    margin: 1rem;
    /* Just to show space between the book to the right. */
    position: relative;
}

.book-cover {
    vertical-align: top;
    height: auto;
    max-width: 300px;
    width: auto;
}

.book-info {
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    padding: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
}

.book-tags {
    right: 1.5rem;
    position: absolute;
    top: -2rem;
}

.book-tag {
    background: rgba(100, 0, 200, 0.75);
    border-radius: 0.25rem 0.25rem 0 0;
    display: inline-block;
    font-size: 0.85rem;
    line-height: 2rem;
    margin-left: 0.25rem;
    padding: 0 0.5rem;
}

.book-tag--year {
    background: rgba(200, 0, 0, 0.75);
} 

.book-name {
    margin-top: 0;
    font-weight: 700;
}

.book-author {
    
    margin-bottom: 0;
}
